<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<div id="app" v-cloak>
	<div id="loading">Loading....</div>
    <div class="header">
        <div align="left" class="container">
            <div class="title">
                <img src="public/ns_logo.png">
                <h1>Near.Store</h1>
            </div>
			<form class="search-bar" v-on:submit.prevent="onSubmit">
				<input type="text" placeholder="Search for Products" required v-model="search">
				<input class="btn" type="submit" value="search">
			</form>
			<p>try search tags <em>cat, dog, flower</em></p>
        </div>
    </div>
    <div class="main container">
        <div class="products">
			<div v-if="loading">
				Loading....
			</div>
			<div class="search-results" v-else>
				Found {{results.length}} results for search term <em>{{lastSearch}}</em>
			</div>

			<div v-for="product in products" class="product" v-bind:id="product.id">
				<div>
					<div class="product-image">
						<img v-bind:src="product.thumb">
					</div>
				</div>
				<div>
					<h4 class="product-title">{{product.title}}</h4>
					<p class="product-price"><strong>{{product.price | currency}}</p>
					<button v-on:click="addToCart(product)" class="add-to-cart btn">Add to Cart</button>
				</div>
			</div>
			<div id="product-list-bottom">
				<div v-if="(results.length===products.length) && (results.length > 0)">No more Items</div>
			</div>
        </div>
        <div class="cart">
            <h2>Shopping Cart</h2>
			<div v-if="cart.length === 0" class="empty-cart">
				<p>No items in the Cart.</p>
			</div>
			<ul>
				<li v-for="item in cart" v-bind:id="item.id" class="cart-item">
					<div class="item-title">{{item.title}}</div>
					<span class="item-qty">{{item.price | currency}} x {{item.qty}}</span>
					<button class="btn" v-on:click="increment(item)">+</button>
					<button class="btn" v-on:click="decrement(item)">-</button>
				</li>
			</ul>
			<transition name="fade">
            	<div v-if="cart.length">
					<div class="cart-total">Total: {{total | currency}}</div>
            	</div>
			</transition>

        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/reload/reload.js"></script>
<script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
<script type="text/javascript" src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script type="text/javascript" src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
