/* Generic styling */

button:focus, input:focus {
    outline: none;
}

.btn {
    background-color: #108bea;
    border-radius: 2px;
    color: white;
    user-select: none;
    border: none;
    cursor: pointer;
    opacity: 1;
}

.btn:hover {
    background-color: #0f6cb2;
}

.btn:active {
    opacity: 0.8;
}

/* Sections */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F3F3F3;
    color: #333;
}

#app {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1rem 2rem;
    flex: 0;
    background-color: #108bea;
}

.main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 2rem;
}

.products {
    flex: 3;
}

.cart {
    flex: 2;
}

.container {
    margin: 0 auto;
    width: 1100px;
}

/* Header */

.title {
    overflow: auto;
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem;
}

.title > img {
    display: block;
    height: 50px;
}

.title > h1 {
    font-size: 2.5rem;
    margin: 0;
    color: whitesmoke;
    margin: 0px 0 0 6px;
    text-align: center;
    font-family: 'Avenir', Helvetica, Arial, sans-serif,'Baloo Bhaina', cursive;

}

.search-bar {
    flex: 0 0 auto;
    border-left: 0;
    border-right: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.search-bar > input {
    border-radius: 2px;
}

.search-bar > input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-basis: 50%;
    max-width: 450px;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #E9E9E9;
    border-right: none;
}

.search-bar > input[type=submit] {
    background-color: #fdd922;
    color: #333333;
    padding: 1rem;
    border: 1px solid #e0bc27;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}

.header p {
    font-size: 0.8em;
    color: whitesmoke;
    text-align: center;
}

/* Products */

.product-list {
    margin-right: 1rem;
}

.search-results {
    padding-bottom: 1rem;
}

.search-results .search-term {
    font-style: italic;
}

.product {
    padding: 2rem;
    overflow: auto;
    margin: 1rem 1rem 2rem 0;
    display: flex;
    flex-flow: row nowrap;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08)
}

.product > div:last-child {
    margin-left: 2rem;
}

.product-image {
    max-height: 150px;
    width: 250px;
    overflow: hidden;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
}

.product-image > img {
    width: 100%;
    display: block;
}

.product-title {
    margin-top: 0;
    font-weight: normal;
    text-transform: capitalize;
}

.product .product-price {
    color: #0f6cb2;
    font-size: 1.3rem;
}

.product .add-to-cart {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    transition: all linear 0.2s
}

#product-list-bottom {
    text-align: center;
    color: #AAAAAA;
    font-size: 0.85rem;
}

/* Cart */

.cart {
    margin-left: 1rem;
    padding-left: 1rem;
}

.cart .empty-cart {

}

.cart > h2 {
    margin-top: 0;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

.cart ul {
    width: 100%;
    font-size: 0.9rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart ul li {
    vertical-align: top;
    padding: 0 1rem 1rem 0;
}

.cart ul li:not(:first-child) {
    vertical-align: top;
    padding-top: 1rem;
}

.cart ul .cart-item {
    border-bottom: 1px solid rgb(222,222,222);
}

.cart ul .cart-item .item-title {
    padding-bottom: 0.5rem;
    text-transform: capitalize;
}

.cart ul .cart-item .item-price {
    font-weight: bold;
    padding-top: 0.5rem;
}

.cart ul .cart-item .item-qty {
    margin-right: 1rem;
    font-weight: bold;
}

.cart ul .cart-item:last-child {
    border-bottom: none;
}

.cart ul .cart-item button {
    margin-right: 3px;
}

.cart-total {
    margin-top: 2rem;
    text-align: right;
}

.cart-total > div {
    width: 50%;
    font-weight: bold;
    font-size: 1.25rem;
    color: #333;
    border-top: 1px solid #333;
    display: inline-block;
    padding: 0.5rem 0 0 0.25rem;
}


@media (max-width: 1200px) {
    .container {
        margin: 0 2rem;
        width: auto;
    }
}

@media (max-width: 950px) {
    .header {
        padding: 1rem 0;
    }

    .main {
        padding: 2rem 0;
        flex-direction: column;
    }

    .products {
        flex: auto;
    }

    .cart {
        flex: auto;
    }

    .container {
        margin: 0 1rem;
        width: auto;
    }

    .title {
        padding-bottom: 2rem;
    }

    .title > img {
        height: 40px;
    }

    .title > h1 {
        font-size: 2rem;
        margin: -7px 0 0 4px;
    }

    .search-bar > input[type=text] {
        flex-basis: 100%;
    }

    .search-results {
        padding-bottom: 2rem;
    }

    .product {
        padding: 1rem;
        flex-flow: column;
        max-width: 450px;
        margin: 0 auto 2rem;
    }

    .product > div:last-child {
        margin: 1rem 0 0;
    }

    .product .product-price {
        display: inline-block;
        float: left;
        margin: 0;
    }

    .product .add-to-cart {
        display: inline-block;
        float: right;
    }

    .product-image {
        width: auto;
    }

    .cart {
        margin: 0;
        padding: 2rem 0 0 0;
    }

    #product-list-bottom > div {
        display: none;
    }
}

/*Fade */
.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	transition: opacity 0.5s;
}

.fade-enter-to {
	opacity: 1;
}

[v-cloak] > *{
	display: none;
}

[v-cloak]> #loading {
	display: block;
	padding: 1em;
}

#loading {
	display: none;
}